# Imports

In [69]:
# Librairies
import numpy as np
import pandas as pd

In [70]:
# Fichiers
# url = 'sources/' # Jupyter (local)
url = 'https://raw.githubusercontent.com/gllmfrnr/OC/master/p4/sources/' # Github
customers =       pd.read_csv(url + 'customers.csv')
products =        pd.read_csv(url + 'products.csv')    
transactions =    pd.read_csv(url + 'transactions.csv')

In [71]:
# Styles
# Exemple : print(color.bold + 'Hello World !' + color.end)
class style:
   blue = '\033[94m'
   green = '\033[92m'
   red = '\033[91m'
   bold = '\033[1m'
   underline = '\033[4m'
   end = '\033[0m'

In [72]:
# Fonction d'exploration des datasets
def exploration(df):
    print( # Sample
        style.red + 'SAMPLE ↓ \n' + style.end,
        df.sample(3), '\n'
        ) 
    print(style.red + 'INFO ↓ \n' + style.end)
    print(df.info(), '\n') # Colonnes, null-count, types d'objets
    for i in range(0, len(df.columns)):
        print(
            style.red + 'COLONNE',
            style.bold + df.columns[i], ': \n' + style.end, # Nom de colonne
             df.iloc[:, i].describe(), '\n', # .describe()
            sum(df.iloc[:, i].isna()), 'Nan \n', # Nbre de Nan 
            df.shape[0] - np.count_nonzero(df.iloc[:, i]), 'zéros \n', # Nbre de 0
            len(df.iloc[:, i].unique()), 'valeurs uniques : \n',
            df.iloc[:, i].unique(), '\n' # Nombre de valeurs uniques 
        )

In [73]:
# Fonction de recherche de clé primaire (une seule colonne)
def pk(df,col): # Ne pas oublier les guillemets en déclarant le paramètre col
    x = 0
    df = df.reset_index()  
    for i in range(0,len(df)):   
        
        searched = df.loc[i][col] # Valeur à rechercher
    
        s = df[df[col]==searched].drop_duplicates() # Rechercher cette valeur dans toute la df, et supprimer les duplicates pour vérifier combien de lignes on obtient
  
        if len(s) == 1: # Si on obtient une seule ligne, c'est a priori une clé primaire
            x += 1
       
    if x == len(df): # Si pour chaque ligne de la df, la requêtes a ajouté 1 à x, alors x = la longueur de la dataframe
        print('\'', col, '\' est bien une clé primaire.')
    else:
        print('\'', col, '\' n\'est pas une clé primaire.')

# Fonction de recherche sur toute la dataframe
def dataframekeys(df):
  for i in range(0, len(df.columns)):
      print(pk(df, df.columns[i]))

# Exploration

## Customers
- 3 colonnes
    - client_id → identifiant unique pour chaque client (aucun doublon)
    - sex → genre (2 valeurs possibles : f ou m)
    - birth → année de naissance
- Clé primaire : **'client_id'**

In [82]:
# dataframekeys(customers)

# ' client_id ' est bien une clé primaire.
# ' sex ' n'est pas une clé primaire.
# ' birth ' n'est pas une clé primaire.

In [74]:
exploration(customers)

SAMPLE ↓
      client_id sex  birth
6668    c_4209   f   1974
5798    c_7539   f   1987
8449    c_7557   m   1981

INFO ↓

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8623 entries, 0 to 8622
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  8623 non-null   object
 1   sex        8623 non-null   object
 2   birth      8623 non-null   int64
dtypes: int64(1), object(2)
memory usage: 202.2+ KB
None

COLONNE client_id :
 count       8623
unique      8623
top       c_7387
freq           1
Name: client_id, dtype: object
 0 Nan
 0 zéros
 8623 valeurs uniques :
 ['c_4410' 'c_7839' 'c_1699' ... 'c_5119' 'c_5643' 'c_84']

COLONNE sex :
 count     8623
unique       2
top          f
freq      4491
Name: sex, dtype: object
 0 Nan
 0 zéros
 2 valeurs uniques :
 ['f' 'm']

COLONNE birth :
 count    8623.000000
mean     1978.280877
std        16.919535
min      1929.000000
25%      1966.000000
50%      1979.000000
75%      1992.000000
max      2004.000000
Name: birth, dtype: float64
 0 Nan
 0 zéros
 76 valeurs uniques :
 [1967 1975 1984 1962 1943 1993 1978 1971 1982 1945 2003 1959 1977 1954
 1987 2000 1992 1963 1958 1994 1936 1986 1942 1970 1957 1968 2002 2004
 1979 1974 1964 1951 1937 1981 1965 1960 1996 1983 1990 1955 1988 1991
 1972 1980 1989 1976 1985 1953 1998 1956 1948 1973 1969 1938 1995 1952
 1949 1999 2001 1939 1950 1966 1935 1941 1961 1997 1944 1929 1947 1946
 1932 1931 1933 1930 1940 1934]

## Products
- 3 colonnes
  - id_prod : identifiant produit unique
  - price : prix (1455 valeurs différentes, pour 3287 produits-lignes)
  - categ : catégorie (3 valeurs différentes : 0, 1, 2)
- Clé primaire : **id_prod**

In [83]:
# dataframekeys(products)

# ' id_prod ' est bien une clé primaire.
# ' price ' n'est pas une clé primaire.
# ' categ ' n'est pas une clé primaire.

In [76]:
exploration(products)

SAMPLE ↓
      id_prod  price  categ
1822   0_834  15.77      0
1514  0_1067  12.99      0
1715   2_171  79.99      2

INFO ↓

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_prod  3287 non-null   object
 1   price    3287 non-null   float64
 2   categ    3287 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 77.2+ KB
None

COLONNE id_prod :
 count       3287
unique      3287
top       0_2247
freq           1
Name: id_prod, dtype: object
 0 Nan
 0 zéros
 3287 valeurs uniques :
 ['0_1421' '0_1368' '0_731' ... '0_802' '1_140' '0_1920']

COLONNE price :
 count    3287.000000
mean       21.856641
std        29.847908
min        -1.000000
25%         6.990000
50%        13.060000
75%        22.990000
max       300.000000
Name: price, dtype: float64
 0 Nan
 0 zéros
 1455 valeurs uniques :
 [19.99  5.13 17.99 ... 11.22 38.56 25.16]

COLONNE categ :
 count    3287.000000
mean        0.370246
std         0.615387
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: categ, dtype: float64
 0 Nan
 2309 zéros
 3 valeurs uniques :
 [0 1 2]

## Transactions
*4 colonnes :*
- 2 clés étrangères
  - id_prod (vers **products**)
  - client_id (vers **customers**)
- date : date de la transaction (336855 valeurs uniques)
- session_id : identifiant de session (169195 valeurs uniques)

*Insights :*
- Une session peut contenir plusieurs dates
- Il y a sensiblement moins de produits et de clients que dans les tables étrangères que référencent id_prod et client_id

In [78]:
exploration(transactions)

SAMPLE ↓
        id_prod                        date session_id client_id
204877    1_54  2021-09-10 07:19:55.645567    s_87662    c_5033
84141   0_1102  2021-10-07 20:09:09.366399   s_101465    c_1996
296702  0_1033  2021-04-18 10:35:16.368773    s_22247     c_236

INFO ↓

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337016 entries, 0 to 337015
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     337016 non-null  object
 1   date        337016 non-null  object
 2   session_id  337016 non-null  object
 3   client_id   337016 non-null  object
dtypes: object(4)
memory usage: 10.3+ MB
None

COLONNE id_prod :
 count     337016
unique      3266
top        1_369
freq        1081
Name: id_prod, dtype: object
 0 Nan
 0 zéros
 3266 valeurs uniques :
 ['0_1483' '2_226' '1_374' ... '0_833' '0_1284' '0_1116']

COLONNE date :
 count                              337016
unique                             336855
top       test_2021-03-01 02:30:02.237413
freq                                   13
Name: date, dtype: object
 0 Nan
 0 zéros
 336855 valeurs uniques :
 ['2021-04-10 18:37:28.723910' '2022-02-03 01:55:53.276402'
 '2021-09-23 15:13:46.938559' ... '2021-03-16 17:31:59.442007'
 '2021-10-30 16:50:15.997750' '2021-06-26 14:38:19.732946']

COLONNE session_id :
 count     337016
unique    169195
top          s_0
freq         200
Name: session_id, dtype: object
 0 Nan
 0 zéros
 169195 valeurs uniques :
 ['s_18746' 's_159142' 's_94290' ... 's_40720' 's_7219' 's_112349']

COLONNE client_id :
 count     337016
unique      8602
top       c_1609
freq       12855
Name: client_id, dtype: object
 0 Nan
 0 zéros
 8602 valeurs uniques :
 ['c_4450' 'c_277' 'c_4270' ... 'c_5139' 'c_4679' 'c_8005']

# Data (jointures)

In [101]:
# Jointure de customers sur transactions
data = pd.merge(transactions, customers, on="client_id")

# Jointure de products sur transactions
data = pd.merge(data, products, on="id_prod")

data

       id_prod                        date session_id  ... birth   price  categ
0       0_1483  2021-04-10 18:37:28.723910    s_18746  ...  1977    4.99      0
1       0_1483  2021-12-27 11:11:12.123067   s_140787  ...  1981    4.99      0
2       0_1483  2021-10-27 04:56:38.293970   s_110736  ...  1985    4.99      0
3       0_1483  2021-07-04 06:43:45.676567    s_57626  ...  1989    4.99      0
4       0_1483  2021-09-19 08:45:43.735331    s_92165  ...  1980    4.99      0
...        ...                         ...        ...  ...   ...     ...    ...
336908  0_1920  2021-04-13 18:36:10.252971    s_20115  ...  1987   25.16      0
336909  0_1920  2021-05-30 02:37:22.371278    s_41465  ...  1989   25.16      0
336910    2_23  2021-09-27 04:47:02.271354    s_96170  ...  1992  115.99      2
336911    2_28  2021-05-11 01:31:34.932056    s_32812  ...  1993  103.50      2
336912    2_98  2021-03-08 21:10:32.250919     s_3637  ...  2003  149.74      2

[336913 rows x 8 columns]

In [102]:
exploration(data)

SAMPLE ↓
        id_prod                        date session_id  ... birth  price  categ
718      1_278  2021-05-22 08:37:58.691226    s_37874  ...  1979  19.18      1
88279    1_431  2021-12-03 04:21:39.003688   s_128631  ...  1989  27.99      1
241640  0_1052  2021-04-28 02:04:41.538461    s_26771  ...  1980   3.79      0

[3 rows x 8 columns]

INFO ↓

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336913 entries, 0 to 336912
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     336913 non-null  object
 1   date        336913 non-null  object
 2   session_id  336913 non-null  object
 3   client_id   336913 non-null  object
 4   sex         336913 non-null  object
 5   birth       336913 non-null  int64
 6   price       336913 non-null  float64
 7   categ       336913 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 23.1+ MB
None

COLONNE id_prod :
 count     336913
unique      3265
top        1_369
freq        1081
Name: id_prod, dtype: object
 0 Nan
 0 zéros
 3265 valeurs uniques :
 ['0_1483' '1_596' '1_278' ... '2_23' '2_28' '2_98']

COLONNE date :
 count                              336913
unique                             336752
top       test_2021-03-01 02:30:02.237413
freq                                   13
Name: date, dtype: object
 0 Nan
 0 zéros
 336752 valeurs uniques :
 ['2021-04-10 18:37:28.723910' '2021-12-27 11:11:12.123067'
 '2021-10-27 04:56:38.293970' ... '2021-09-27 04:47:02.271354'
 '2021-05-11 01:31:34.932056' '2021-03-08 21:10:32.250919']

COLONNE session_id :
 count     336913
unique    169174
top          s_0
freq         200
Name: session_id, dtype: object
 0 Nan
 0 zéros
 169174 valeurs uniques :
 ['s_18746' 's_140787' 's_110736' ... 's_41465' 's_96170' 's_3637']

COLONNE client_id :
 count     336913
unique      8602
top       c_1609
freq       12855
Name: client_id, dtype: object
 0 Nan
 0 zéros
 8602 valeurs uniques :
 ['c_4450' 'c_5433' 'c_857' ... 'c_5080' 'ct_1' 'ct_0']

COLONNE sex :
 count     336913
unique         2
top            m
freq      169292
Name: sex, dtype: object
 0 Nan
 0 zéros
 2 valeurs uniques :
 ['f' 'm']

COLONNE birth :
 count    336913.000000
mean       1977.837326
std          13.532198
min        1929.000000
25%        1971.000000
50%        1980.000000
75%        1987.000000
max        2004.000000
Name: birth, dtype: float64
 0 Nan
 0 zéros
 76 valeurs uniques :
 [1977 1981 1985 1989 1980 1975 1982 1990 1987 1984 1968 1969 1965 1974
 1978 1991 1983 1976 1956 1988 1960 1964 1986 1955 1979 1972 1973 1971
 1970 1938 1959 1935 1957 1937 1999 1967 2000 1954 2004 1995 1962 1993
 1945 1997 1992 1950 1953 1996 1948 1963 1947 1949 1966 1951 1958 1932
 1961 1994 2002 1998 1943 1936 1939 1942 1933 2001 1952 1946 1944 1930
 2003 1941 1940 1934 1931 1929]

COLONNE price :
 count    336913.000000
mean         17.204376
std          17.855658
min          -1.000000
25%           8.580000
50%          13.900000
75%          18.990000
max         300.000000
Name: price, dtype: float64
 0 Nan
 0 zéros
 1443 valeurs uniques :
 [  4.99  11.12  19.18 ... 115.99 103.5  149.74]

COLONNE categ :
 count    336913.000000
mean          0.429900
std           0.590999
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           2.000000
Name: categ, dtype: float64
 0 Nan
 209626 zéros
 3 valeurs uniques :
 [0 1 2]

# Nettoyage